*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color:lightgrey;
}
.sidebar{
    height: 100%;
    min-height:352px;
    background-color: rgba(0,0,0,.25);
    position: fixed;
    border: 1px solid transparent;
    /*border-radius: 50px 0px 50px 0px;*/
    margin:0;
    overflow-x: hidden;
    overflow-y: auto;
}
.r-sidebar{
    min-width:15%;
    max-width:35%;
    width: 175px;
    float: right;
    right:0;
    overflow-y: hidden;
}
.l-sidebar{
    min-width:20%;
    max-width:40%;
    width: 200px;
    float: left;
    left:0;
    
}
.logo{
    text-align: center;
    height: 6%;
    max-width: 100%;
    margin-top:25px;
}
.logo h1{
    color:white;
    font-family: Arial;
    font-size:18px;
    text-shadow: 2px 2px 8px black;
}
.online{
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 10px 10px 0px 0px; 
    color:white;
    width:100%;
}
.on{
    width:100%;
    height: 85%;
    list-style: none;
    overflow-y: auto;
    overflow-x:hidden;
    color:white;   
}


.on img{
    height: 95%;  
}
.on li{
    margin:10px 0;
    width:100%;
    height: 50px;
    overflow: hidden;
    border: 0;
    border-bottom:1px;
    border-color:#1d1822;
    border-style: solid;
    /*font-family: 'Tangerine', serif;*/
    font-family: cursive;
    font-size:18px;
    font-weight: 300;
    padding:0 5px 5px 0;
}
.on li:hover{
    background-color:#1d1822;
    cursor: pointer;
}

.user{
    text-align: center;
   
}
.user img{
    margin-top:35px;
    width: 80px;
    position: relative;
}
.user h3{
 color:white;  
 font-family: sans-serif;
 text-shadow:3px 3px 3px black;
}
.mains{
    list-style: none;
    width: 95%;
    margin-left: 5px;
    
}
.mains li{
    margin-top: 10px;
    padding:0 5px;
    border: 1px solid transparent;
    border-radius: 10px 0px 10px 0px; 
    text-shadow: 2px 2px 8px black;
    background:  rgba(0,0,0,.25);
    color: #F2FCFF;
}
.mains li:hover{
    cursor: pointer;
    background: white;
    color: #1d1822;
}
.cal{
    width: 100%;
    position: relative;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}