            #wrapper{
                width:560px;
                min-height:100%;
                position:relative;
                margin:5px auto;
                margin-top:0;
                padding:0;
                /*background:rgba(0,0,0,.45);*/
                /*background:whitesmoke;*/
                border-radius: 5px;
                overflow:hidden;
            }
            #wrapper .post_whole{
                width:95%;
                min-height:240px;
                /*background:rgba(0,0,0,.15);*/
                background:white;
                margin:15px auto;
                border-radius: 5px;
                border-color:rgba(0,0,0,.75);
                border-style:groove;
                border-width:1px;
            }
            .post_whole .post{
                padding:4px;
                overflow:hidden;
                border-bottom:1px solid rgba(0,0,0,.25);
            }
            .post .post_info{
                overflow:hidden;
                width:100%;
            }
            .post_whole .post_comment{
                position: relative;
                min-height:180px;
                /*background:rgba(0,0,0,.15);*/
                background: rgb(199, 210, 221);
            }
            .post_whole .post .writer_pic{
                width:10%;
                float:left;
            }
            .post_whole .post .writer_pic img{
                height:42px;
                float:left;
                position:relative;
            }
            .post_whole .post .writer{
                position:relative;
                float:left;
                height:28px;
                font-size:16px;
                font-weight: bold;
            }
            .post_whole .post .post_date{
                float:right;
                position:relative;
                color:#999;
                font-size:12px;
            }
            .post_whole .post .post_body{
                overflow:hidden;
                width:100%;
                margin:0;
                padding:8px 5px;
            }
            .post_whole .post .post_functions{
                float:right;
                padding:0 15px;
                margin-bottom: 2px;
                overflow:hidden;
            }    
            .post_whole .post .post_functions img{
                height:15px;
            }    
            .post_whole .post .post_functions a{
                color:#418c96;
                padding:2px 0px 2px 12px;
            }