.main_header{
    left: 20%;
    position: fixed;
    top: 0;
    width: 65%;
    height: 6%;
    background: rgb(25, 112, 91);
    z-index: 555;
}
.search{
    position: relative;
    width: 19%;
    float: left;
    height: 90%;
    top: 10%;
}
.button_header{
    position: relative;
    float: right;
    height: 100%;
    text-align: center;
    width: 15%;
    right: 0;
}
.button_header ul{
    list-style-type: none;
    height: 100%;
    width: 100%;
}
.button_header li{
    float: left;
    width: 35%;
    height: 50%;
    background: rgb(9, 185, 150);
    padding: 7%;
    border-left: 1px black solid;
}
.button_header li:hover{
    background: rgb(83, 238, 195);
}
    #search_input{
        border-radius:15px; 
/*        background:url('../png/search.png');
        background-size: contain;
        background-repeat: no-repeat;*/
        height:30px;
        width:30px;
        transition:all .45s ease;
        box-shadow: 2px 2px 8px;
        border-color: #dedff6;
        background:whitesmoke;
    }
    #search_input_img img{
        transform: none;
        position: absolute;
        height:30px;
        cursor: pointer;
        transition:all .45s ease;
        border-radius: 50%;
        background:#dedff6;
        box-shadow:0;
    }    
    #search_input_img img:hover{
        background:white;
        box-shadow: 2px 2px 5px black;
    }
    #search_result_wrapper{
        display: none;
        margin-top:15px;
    }
    #search_result_wrapper table{
        background:lightgrey;
        padding: 0;
        border-radius:4px;
        box-shadow: 10px 10px 20px black;
    }
    #search_result_wrapper *{
        transition:all .45s ease;
    }
    #search_result_wrapper table tr{
        background:#DEF6EF;
        width:350px;
        height:48px;
        display:block;
        cursor:pointer;
        overflow:hidden;
        border-bottom:2px groove rgba(0,0,0,.15);
    }
    #search_result_wrapper table tr:hover{
        background:#6367de;
    }
    #search_result_wrapper table td{
        height:48px;
        background: transparent !important;
    }
    #search_result_wrapper td a{
        float:left;
        display:block;
        text-decoration: none;
        color:#000383;
        font-size:18px;
        height:100%;
    }
    .search_results{
        width:300px;
        overflow:hidden;
    }
    .search_username{
        float:left;
        max-width:60%;
    }
    #search_result_wrapper table tr:hover .search_username{
        color:whitesmoke;
    }
    .add_friend{
        position: absolute;
        min-width: 85px;
        padding: 2px;
        text-align: center;
        background: #bce8f1;
        color: #0070a3;
        border-radius: 4px;
        overflow: hidden;
        margin: 0 15px;
        box-shadow: 2px 2px 10px black;
        z-index: 99;
        font-size: 14px;
        font-weight: bold;
        left: 230px;
        margin-top: 15px;
        padding:0 4px;
    }
    .add_friend:hover{
        color:whitesmoke;
        background: #ac52c2;
    }
    .friend{
        position: absolute;
        min-width: 105px;
        padding: 2px;
        text-align: center;
        background: #bce8f1;
        color: #0070a3;
        border-radius: 4px;
        overflow: hidden;
        margin: 0 15px;
        box-shadow: 2px 2px 10px black;
        z-index: 99;
        font-size: 14px;
        font-weight: bold;
        left: 215px;
        margin-top: 15px;
        padding:0 4px;
    }
    .friend img{
        height:15px;
        margin:0 4px;
    }
    .friend:hover{
        color:whitesmoke;
        background: #ac52c2;
    }
    .srch_user_pic{
        float:left;
        height:100%;
    }