            #contain_wrapper{
                overflow-y: hidden;
                overflow-x: auto;
                margin-top: 3.5%;
                z-index:5;
            }
            #contain_wrapper *{
                transition: all 1s ease;
                overflow: hidden;
            }
            #wrapper{
                width:560px;
                min-height:100%;
                position:relative;
                margin:5px auto;
                margin-top:0;
                padding:0;
                /*background:rgba(0,0,0,.45);*/
                /*background:whitesmoke;*/
                border-radius: 5px;
                overflow:hidden;
                z-index:-1;
                z-index:6;
            }
            #wrapper .post_whole{
                width:95%;
                min-height:240px;
                /*background:rgba(0,0,0,.15);*/
                background:white;
                margin:15px auto;
                border-radius: 5px;
                border-color:rgba(0,0,0,.75);
                border-style:groove;
                border-width:1px;
            }
            .post_whole .post{
                padding:4px;
                overflow:hidden;
                border-bottom:1px solid rgba(0,0,0,.25);
            }
            .post .post_info{
                overflow:hidden;
                width:100%;
            }
            .post_whole .post_comment{
                position: relative;
                /*min-height:100px;*/
                overflow:hidden;
                /*background:rgba(0,0,0,.15);*/
                background: rgb(199, 210, 221);
                /*background: rgb(199, 221, 199);*/
            }
            .post_whole .writer_pic{
                width:10%;
                float:left;
            }
            .post_whole .writer_pic img{
                height:42px;
                float:left;
                position:relative;
            }
            .post_whole .writer{
                position:relative;
                float:left;
                height:28px;
                font-size:16px;
                font-weight: bold;
            }
            .post_whole .post_date{
                float:right;
                position:relative;
                color:#999;
                font-size:12px;
            }
            .post_whole .post .post_body{
                overflow:hidden;
                width:100%;
                margin:0;
                font-size:16px;
                line-height: 20px;
                padding:8px 5px;
                font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
            }
            .post_whole .post_functions{
                float:right;
                padding:0 15px;
                margin-bottom: 2px;
                overflow:hidden;
            }    
            .post_whole .post_functions img{
                height:15px;
            }    
            .post_whole .post_functions a{
                color:#418c96;
                padding:2px 0px 2px 12px;
            }
            .post_whole .comment_body{
                overflow:hidden;
                width:100%;
                margin:0;
                padding:0 4px 10px 50px;
                font-size:14px;
                font-weight: 700;
                font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
                display:inline;
            }
            .post_comment{
                border-bottom: 6px groove rgba(0,0,0,.15);
            }
            /*Input POst !!*/
            #add_post_wrapper{
                z-index:9;
                height:auto;
                transition:all 1s ease;
                border-radius: 0 0 15px 15px;
                border:2px groove rgba(0,0,0,.25);
                overflow:visible;
            }
            #add_post_wrapper *{
                transition:all 1s ease;
            }
            .add_post_functions{
                
            }
            .add_post_input textArea{
                overflow-y:auto !important;
                transition:none !important;
            }
            #permission_select{
                float:right;
                margin:0 4px;
            }
            #add_post_sbmt{
                float: right;
                margin: 0 8px;
                padding: 5px 10px;
                width: 85px;
                height: 28px;
                -moz-box-shadow: 0px 10px 14px -7px #276873;
                -webkit-box-shadow: 0px 10px 14px -7px #276873;
                box-shadow: 0px 10px 14px -7px #276873;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
                background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
                background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
                background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
                background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
                background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
                background-color: #599bb3;
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
                border-radius: 8px;
                display: inline-block;
                cursor: pointer;
                color: #ffffff;
                font-family: Georgia;
                font-size: 85%;
                font-weight: bold;
                text-decoration: none;
                text-shadow: 10px 10px 12px #3d768a;
                border-color: transparent;
            }
            #add_post_sbmt:hover {
                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
                background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
                background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
                background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
                background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
                background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
                background-color:#408c99;
            }
            #add_post_sbmt:active {
                position:relative;
                top:1px;
            }
            #add_post_toggle{
                z-index: 10;
                position: absolute;
                height: 18px;
                width: 150px;
                left: 50%;
                transform: translateX(-50%);
                overflow: visible;
                z-index: 8;
                border-radius: 0 0 8px 8px;
                background: rgba(10,101,10,.25);
                cursor: pointer;
                transition: all .4s ease;
            }
            #add_post_toggle:hover{
                background:rgba(10,101,10,.5);
            }
            #add_post_toggle img{
                position:absolute;
                height:100%;
                background:transparent;
                left:50%;
                transform: translateX(-50%);
            }
